.elementor-340
    .elementor-element.elementor-element-ad9bb5d:not(
        .elementor-motion-effects-element-type-background
    ),
.elementor-340
    .elementor-element.elementor-element-ad9bb5d
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #000000;
    background-image: url(./../images/BG-filter.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.elementor-340
    .elementor-element.elementor-element-ad9bb5d
    > .elementor-background-overlay {
    background-color: #000000;
    opacity: 0.5;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-340 .elementor-element.elementor-element-ad9bb5d {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
}
.elementor-bc-flex-widget
    .elementor-340
    .elementor-element.elementor-element-c904320.elementor-column
    .elementor-widget-wrap {
    align-items: center;
}
.elementor-340
    .elementor-element.elementor-element-c904320.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}
.elementor-340
    .elementor-element.elementor-element-c904320
    > .elementor-element-populated {
    margin: 20px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}
.elementor-340 .elementor-element.elementor-element-1324fa7 {
    --divider-border-style: solid;
    --divider-color: #3f4244;
    --divider-border-width: 1px;
}
.elementor-340
    .elementor-element.elementor-element-1324fa7
    .elementor-divider-separator {
    width: 100%;
}
.elementor-340 .elementor-element.elementor-element-1324fa7 .elementor-divider {
    padding-top: 15px;
    padding-bottom: 15px;
}
.elementor-340 .elementor-element.elementor-element-0b7b2fc {
    margin-top: -35px;
    margin-bottom: -15px;
}
.elementor-bc-flex-widget
    .elementor-340
    .elementor-element.elementor-element-2942caf.elementor-column
    .elementor-widget-wrap {
    align-items: center;
}
.elementor-340
    .elementor-element.elementor-element-2942caf.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}
.elementor-340 .elementor-element.elementor-element-2ab8f29 {
    text-align: left;
}
.elementor-340 .elementor-element.elementor-element-2ab8f29 img {
    width: 45%;
}
.elementor-340
    .elementor-element.elementor-element-2ab8f29
    > .elementor-widget-container {
    margin: 15px 0px 15px 0px;
}
.elementor-340 .elementor-element.elementor-element-f9d95f1 {
    --divider-border-style: solid;
    --divider-color: #3f4244;
    --divider-border-width: 1px;
}
.elementor-340
    .elementor-element.elementor-element-f9d95f1
    .elementor-divider-separator {
    width: 100%;
}
.elementor-340 .elementor-element.elementor-element-f9d95f1 .elementor-divider {
    padding-top: 15px;
    padding-bottom: 15px;
}
.elementor-340
    .elementor-element.elementor-element-f9d95f1
    > .elementor-widget-container {
    margin: 0px 0px -15px 0px;
}
.elementor-340 .elementor-element.elementor-element-9fc8b85 {
    margin-top: 130px;
    margin-bottom: 0px;
}
.elementor-340
    .elementor-element.elementor-element-365ca1b
    .elementor-heading-title {
    color: #ffffff;
    font-family: "Roboto", Sans-serif;
    font-size: 61px;
    font-weight: 400;
}
.elementor-340
    .elementor-element.elementor-element-365ca1b
    > .elementor-widget-container {
    margin: 0px 15px 0px 0px;
}
.elementor-340 .elementor-element.elementor-element-365ca1b {
    width: auto;
    max-width: auto;
}
.elementor-340
    .elementor-element.elementor-element-cde8683
    > .elementor-widget-container {
    margin: 0px 15px 0px 0px;
}
.elementor-340 .elementor-element.elementor-element-cde8683 {
    width: auto;
    max-width: auto;
}
.elementor-340
    .elementor-element.elementor-element-484d0a7
    .elementor-heading-title {
    color: #ffffff;
    font-family: "Roboto", Sans-serif;
    font-size: 61px;
    font-weight: 400;
}
.elementor-340
    .elementor-element.elementor-element-484d0a7
    > .elementor-widget-container {
    margin: 0px 15px 0px 0px;
}
.elementor-340 .elementor-element.elementor-element-484d0a7 {
    width: auto;
    max-width: auto;
}
.elementor-340
    .elementor-element.elementor-element-bb9341f
    .elementor-button
    .elementor-align-icon-right {
    margin-left: 10px;
}
.elementor-340
    .elementor-element.elementor-element-bb9341f
    .elementor-button
    .elementor-align-icon-left {
    margin-right: 10px;
}
.elementor-340 .elementor-element.elementor-element-bb9341f .elementor-button {
    font-family: "Roboto", Sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    background-color: var(--e-global-color-9caa857);
    border-radius: 7px 7px 7px 7px;
    padding: 020px 25px 020px 25px;
}
.elementor-340
    .elementor-element.elementor-element-bb9341f
    > .elementor-widget-container {
    margin: 40px 0px 0px 0px;
}
