.elementor-5
    .elementor-element.elementor-element-ad9bb5d
    > .elementor-container {
    min-height: 1000px;
}
.elementor-5
    .elementor-element.elementor-element-ad9bb5d:not(
        .elementor-motion-effects-element-type-background
    ),
.elementor-5
    .elementor-element.elementor-element-ad9bb5d
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #000000;
}
.elementor-5
    .elementor-element.elementor-element-ad9bb5d
    > .elementor-background-overlay {
    background-color: #000000;
    opacity: 0.5;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-5 .elementor-element.elementor-element-ad9bb5d {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
}
.elementor-bc-flex-widget
    .elementor-5
    .elementor-element.elementor-element-c904320.elementor-column
    .elementor-widget-wrap {
    align-items: center;
}
.elementor-5
    .elementor-element.elementor-element-c904320.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}
.elementor-5
    .elementor-element.elementor-element-c904320
    > .elementor-element-populated {
    margin: 20px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}
.elementor-5 .elementor-element.elementor-element-1324fa7 {
    --divider-border-style: solid;
    --divider-color: #252525;
    --divider-border-width: 1px;
}
.elementor-5
    .elementor-element.elementor-element-1324fa7
    .elementor-divider-separator {
    width: 100%;
}
.elementor-5 .elementor-element.elementor-element-1324fa7 .elementor-divider {
    padding-top: 15px;
    padding-bottom: 30px;
}
.elementor-5 .elementor-element.elementor-element-0b7b2fc {
    margin-top: -35px;
    margin-bottom: -15px;
}
.elementor-bc-flex-widget
    .elementor-5
    .elementor-element.elementor-element-2942caf.elementor-column
    .elementor-widget-wrap {
    align-items: center;
}
.elementor-5
    .elementor-element.elementor-element-2942caf.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}
.elementor-5 .elementor-element.elementor-element-2ab8f29 {
    text-align: left;
}
.elementor-5 .elementor-element.elementor-element-2ab8f29 img {
    width: 45%;
}
.elementor-5 .elementor-element.elementor-element-a4aea0d {
    text-align: right;
}
.elementor-5 .elementor-element.elementor-element-f9d95f1 {
    --divider-border-style: solid;
    --divider-color: #252525;
    --divider-border-width: 1px;
}
.elementor-5
    .elementor-element.elementor-element-f9d95f1
    .elementor-divider-separator {
    width: 100%;
}
.elementor-5 .elementor-element.elementor-element-f9d95f1 .elementor-divider {
    padding-top: 15px;
    padding-bottom: 15px;
}
.elementor-5
    .elementor-element.elementor-element-f9d95f1
    > .elementor-widget-container {
    margin: 0px 0px -15px 0px;
}
.elementor-5 .elementor-element.elementor-element-7f2479d .elementor-button {
    background-color: #0d0d0d;
    border-radius: 5px 5px 5px 5px;
    padding: 10px 10px 10px 10px;
    color: #7e7e7e;
}
.elementor-5
    .elementor-element.elementor-element-7f2479d
    > .elementor-widget-container {
    padding: 0px 0px 0px 6px;
}
.elementor-5 .elementor-element.elementor-element-7f2479d {
    width: auto;
    max-width: auto;
}
/* .elementor-5 .elementor-element.elementor-element-a19c20e .elementor-button {
    background-color: var(--e-global-color-9caa857);
    border-radius: 5px 5px 5px 5px;
    padding: 10px 10px 10px 10px;
} */
.elementor-5 .elementor-element.elementor-element-a19c20e {
    width: auto;
    max-width: auto;
}
/* .elementor-5 .elementor-element.elementor-element-51ed8f9 .elementor-button {
    background-color: #232323;
    border-radius: 5px 5px 5px 5px;
    padding: 10px 10px 10px 10px;
} */
.elementor-5
    .elementor-element.elementor-element-51ed8f9
    > .elementor-widget-container {
    padding: 0px 0px 0px 6px;
}
.elementor-5
    .elementor-element.elementor-element-51ed8f8
    > .elementor-widget-container {
    padding: 0px 0px 0px 6px;
}
.elementor-5 .elementor-element.elementor-element-51ed8f9 {
    width: auto;
    max-width: auto;
}
.elementor-5 .elementor-element.elementor-element-7f2479c .elementor-button {
    background-color: #232323;
    border-radius: 5px 5px 5px 5px;
    padding: 10px 10px 10px 10px;
}
.elementor-5
    .elementor-element.elementor-element-7f2479c
    > .elementor-widget-container {
    padding: 0px 0px 0px 6px;
}
.elementor-5 .elementor-element.elementor-element-7f2479c {
    width: auto;
    max-width: auto;
}
.elementor-5 .elementor-element.elementor-element-fd57985 .elementor-button {
    background-color: #232323;
    border-radius: 5px 5px 5px 5px;
    padding: 10px 10px 10px 10px;
}
.elementor-5
    .elementor-element.elementor-element-fd57985
    > .elementor-widget-container {
    padding: 0px 0px 0px 6px;
}
.elementor-5 .elementor-element.elementor-element-fd57985 {
    width: auto;
    max-width: auto;
}
.elementor-5 .elementor-element.elementor-element-d056cee .elementor-button {
    background-color: #232323;
    border-radius: 5px 5px 5px 5px;
    padding: 10px 10px 10px 10px;
}
.elementor-5
    .elementor-element.elementor-element-d056cee
    > .elementor-widget-container {
    padding: 0px 0px 0px 6px;
}
.elementor-5 .elementor-element.elementor-element-d056cee {
    width: auto;
    max-width: auto;
}
.elementor-5 .elementor-element.elementor-element-2f6c2ca .elementor-button {
    background-color: #232323;
    border-radius: 5px 5px 5px 5px;
    padding: 10px 10px 10px 10px;
}
.elementor-5
    .elementor-element.elementor-element-2f6c2ca
    > .elementor-widget-container {
    padding: 0px 0px 0px 6px;
}
.elementor-5 .elementor-element.elementor-element-2f6c2ca {
    width: auto;
    max-width: auto;
}
.elementor-5 .elementor-element.elementor-element-d6a8e90 .elementor-button {
    background-color: #232323;
    border-radius: 5px 5px 5px 5px;
    padding: 10px 10px 10px 10px;
}
.elementor-5 .elementor-element.elementor-element-51ed8f8 .elementor-button {
    background-color: #232323;
    border-radius: 5px 5px 5px 5px;
    padding: 10px 10px 10px 10px;
}
.elementor-5
    .elementor-element.elementor-element-d6a8e90
    > .elementor-widget-container {
    padding: 0px 0px 0px 6px;
}
.elementor-5 .elementor-element.elementor-element-d6a8e90 {
    width: auto;
    max-width: auto;
}
.elementor-5 .elementor-element.elementor-element-3f2e332 {
    --divider-border-style: solid;
    --divider-color: #252525;
    --divider-border-width: 1px;
}
.elementor-5
    .elementor-element.elementor-element-3f2e332
    .elementor-divider-separator {
    width: 100%;
}
.elementor-5 .elementor-element.elementor-element-3f2e332 .elementor-divider {
    padding-top: 10px;
    padding-bottom: 10px;
}
.elementor-bc-flex-widget
    .elementor-5
    .elementor-element.elementor-element-a166bf7.elementor-column
    .elementor-widget-wrap {
    align-items: center;
}
.elementor-5
    .elementor-element.elementor-element-a166bf7.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}
.elementor-5
    .elementor-element.elementor-element-a166bf7
    > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
}
.elementor-5
    .elementor-element.elementor-element-a166bf7
    > .elementor-element-populated
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-5 .elementor-element.elementor-element-abf7a0b img {
    opacity: 1;
}
.elementor-5
    .elementor-element.elementor-element-abf7a0b
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
}
.elementor-5
    .elementor-element.elementor-element-21a18a2
    .elementor-heading-title {
    color: #7f7f7f;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
}
.elementor-bc-flex-widget
    .elementor-5
    .elementor-element.elementor-element-60406ca.elementor-column
    .elementor-widget-wrap {
    align-items: center;
}
.elementor-5
    .elementor-element.elementor-element-60406ca.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}
.elementor-5
    .elementor-element.elementor-element-60406ca
    > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
}
.elementor-5
    .elementor-element.elementor-element-60406ca
    > .elementor-element-populated
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-5 .elementor-element.elementor-element-e42138c img {
    opacity: 1;
}
.elementor-5
    .elementor-element.elementor-element-e42138c
    > .elementor-widget-container {
    margin: 90px 0px 90px 0px;
}
.elementor-5
    .elementor-element.elementor-element-bd527e7
    .elementor-heading-title {
    color: #7f7f7f;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
}
.elementor-bc-flex-widget
    .elementor-5
    .elementor-element.elementor-element-e03986e.elementor-column
    .elementor-widget-wrap {
    align-items: center;
}
.elementor-5
    .elementor-element.elementor-element-e03986e.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}
.elementor-5
    .elementor-element.elementor-element-e03986e
    > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
}
.elementor-5
    .elementor-element.elementor-element-e03986e
    > .elementor-element-populated
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-5 .elementor-element.elementor-element-e899ab7 img {
    opacity: 1;
}
.elementor-5
    .elementor-element.elementor-element-e899ab7
    > .elementor-widget-container {
    margin: 90px 0px 90px 0px;
}
.elementor-5
    .elementor-element.elementor-element-d15777b
    .elementor-heading-title {
    color: #7f7f7f;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
}
.elementor-bc-flex-widget
    .elementor-5
    .elementor-element.elementor-element-b4850d1.elementor-column
    .elementor-widget-wrap {
    align-items: center;
}
.elementor-5
    .elementor-element.elementor-element-b4850d1.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}
.elementor-5
    .elementor-element.elementor-element-b4850d1
    > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
}
.elementor-5
    .elementor-element.elementor-element-b4850d1
    > .elementor-element-populated
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-5 .elementor-element.elementor-element-1d82ec9 img {
    opacity: 1;
}
.elementor-5
    .elementor-element.elementor-element-1d82ec9
    > .elementor-widget-container {
    margin: 90px 0px 90px 0px;
}
.elementor-5
    .elementor-element.elementor-element-f71f46b
    .elementor-heading-title {
    color: #7f7f7f;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
}
.elementor-bc-flex-widget
    .elementor-5
    .elementor-element.elementor-element-233ce79.elementor-column
    .elementor-widget-wrap {
    align-items: center;
}
.elementor-5
    .elementor-element.elementor-element-233ce79.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}
.elementor-5
    .elementor-element.elementor-element-233ce79
    > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
}
.elementor-5
    .elementor-element.elementor-element-233ce79
    > .elementor-element-populated
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-5 .elementor-element.elementor-element-0328a3a img {
    opacity: 1;
}
.elementor-5
    .elementor-element.elementor-element-0328a3a
    > .elementor-widget-container {
    margin: 90px 0px 90px 0px;
}
.elementor-5
    .elementor-element.elementor-element-00dcfbf
    .elementor-heading-title {
    color: #7f7f7f;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
}
.elementor-bc-flex-widget
    .elementor-5
    .elementor-element.elementor-element-4146988.elementor-column
    .elementor-widget-wrap {
    align-items: center;
}
.elementor-5
    .elementor-element.elementor-element-4146988.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}
.elementor-5
    .elementor-element.elementor-element-4146988
    > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
}
.elementor-5
    .elementor-element.elementor-element-4146988
    > .elementor-element-populated
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-5 .elementor-element.elementor-element-f79f3f6 img {
    opacity: 1;
}
.elementor-5
    .elementor-element.elementor-element-f79f3f6
    > .elementor-widget-container {
    margin: 90px 0px 90px 0px;
}
.elementor-5
    .elementor-element.elementor-element-e0f688a
    .elementor-heading-title {
    color: #7f7f7f;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
}
